process {
    withName: IRODS_ATTACHMETADATA {
        ext.remove_existing_metadata = false
        ext.delimiter                = ';'
        maxForks                     = 5
        array                        = 500
        queue                        = 'transfer'
        cpus                         = 1
        memory                       = '2 GB'
    }
}
