// Nextflow flags
nextflow.enable.moduleBinaries = true

// Unscoped options
cleanup   = false
workDir   = "nf-work"

// workflow marapeters
params {
    // process params
    output_dir               = "results"
    publish_mode             = 'copy'

    // pipeline params
    help                     = false
    upload                   = null
    attach_metadata          = null
    get_metadata             = false
    ignore_ext               = null
    remove_existing_metadata = false
    dup_meta_separator       = ';'
    metadata_index_name      = 'irodspath'
    join                     = 'outer'
    verbose                  = false
}
process {
    cpus          = 2
    queue         = 'normal'
    maxRetries    = 5
    errorStrategy = { task.attempt == 5 ? "ignore" : "retry" }
}
// Load config for cisTopic component
includeConfig 'configs/csv_concat.config'
includeConfig 'configs/irods_storefile.config'
includeConfig 'configs/irods_getmetadata.config'
includeConfig 'configs/irods_attachmetadata.config'
includeConfig 'configs/irods_aggregatemetadata.config'

singularity {
    enabled    = true
    autoMounts = true
    runOptions = '-B /lustre,/nfs'
    cacheDir   = '/nfs/cellgeni/singularity/images/'
}

executor {
    name           = 'lsf'
    perJobMemLimit = true
}

// Capturing Nextflow log files into a 'reports' directory
import java.time.*
Date now = new Date()

params {
    tracedir  = "reports"
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

timeline {
    enabled = true
    file    = "${params.tracedir}/${params.timestamp}_timeline.html"
}

report {
    enabled = true
    file    = "${params.tracedir}/${params.timestamp}_report.html"
}

trace {
    enabled = true
    file    = "${params.tracedir}/${params.timestamp}_trace.tsv"
}

// Manifest
manifest {
  name            = 'cellgeni/nf-upload2irods'
  homePage        = 'https://github.com/cellgeni/upload2irods'
  description     = "Nextflow pipeline to transfer files to iRODS and attach metadata"
  mainScript      = 'main.nf'
  nextflowVersion = '!>=25.04.4'
  version         = '0.0.1'
  defaultBranch   = 'main'
  contributors    = [
    [
      name: 'Aljes Binkevich',
      email: 'ab76@sanger.ac.uk',
      github: 'claptar',
      contribution: ['author', 'maintainer'],
    ],
  ]
}