process {
    withName: CSV_CONCAT {
        ext.prefix = "metadata"
        ext.args   = {
            [
                "--axis 'index'",
                "--join 'outer'",
            ].join(' ')
        }
        queue      = 'normal'
        cpus       = 1
        memory     = '2 GB'
        publishDir = [
            mode: 'link',
            path: params.output_dir,
            pattern: '*.{csv,json}',
            overwrite: true,
        ]
    }
}
