process {
    withName: CSV_CONCAT {
        ext.prefix = "metadata"
        ext.args   = {
            [
                "--axis 'index'",
                params.join ? "--join '${params.join}'" : "--join 'outer'",
            ].join(' ')
        }
        queue      = 'normal'
        cpus       = 1
        memory     = { 2.GB + 2.GB * (task.attempt - 1) }
        publishDir = [
            mode: 'link',
            path: params.output_dir,
            pattern: '*.{csv,json}',
            overwrite: true,
        ]
    }
}
