process {
    withName: IRODS_AGGREGATEMETADATA {
        ext.args = {
            [
                params.dup_meta_separator ? "--dup-sep '${params.dup_meta_separator}'" : "--dup-sep ';'",
                params.metadata_index_name ? "--index_name '${params.metadata_index_name}'" : "--index_name 'irodspath'",
            ].join(' ')
        }
        queue    = { task.attempt == 1 ? 'small' : 'normal' }
        memory   = { 90.MB + 1000.MB * (task.attempt - 1) }
        cpus     = 1
    }
}
