process {
    withName: IRODS_ATTACHMETADATA {
        ext.remove_existing_metadata = params.remove_existing_metadata ?: false
        ext.delimiter                = params.dup_meta_separator ? params.dup_meta_separator : ';'
        maxForks                     = 5
        array                        = 500
        queue                        = 'transfer'
        cpus                         = 1
        memory                       = { 2.GB + 2.GB * (task.attempt - 1) }
    }
}
