nextflow.enable.moduleBinaries = true

params {
    // test params
    test_data_base           = "${projectDir}/tests/data/"

    // process params
    output_dir               = "results"
    publish_mode             = 'copy'

    // pipeline params
    help                     = false
    upload                   = null
    attach_metadata          = null
    get_metadata             = false
    ignore_ext               = null
    remove_existing_metadata = false
    dup_meta_separator       = ';'
    metadata_index_name      = 'irodspath'
    join                     = 'outer'
    verbose                  = false
}

process {
    cpus   = 2
    memory = '4.GB'
    time   = '2.h'
}

// Load config for cisTopic component
includeConfig 'csv_concat.config'
includeConfig 'irods_storefile.config'
includeConfig 'irods_getmetadata.config'
includeConfig 'irods_attachmetadata.config'
includeConfig 'irods_aggregatemetadata.config'

executor {
    name           = 'lsf'
    perJobMemLimit = true
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = '-B /lustre,/nfs'
        singularity.cacheDir   = '/nfs/cellgeni/singularity/images/'
    }
    docker {
        docker.enabled    = true
    }
}

docker.registry      = 'quay.io'
singularity.registry = 'quay.io'
cleanup              = false