process {
    withName: IRODS_AGGREGATEMETADATA {
        ext.args = {
            [
                params.dup_meta_separator ? "--dup-sep '${params.dup_meta_separator}'" : "--dup-sep ';'",
                params.metadata_index_name ? "--index_name '${params.metadata_index_name}'" : "--index_name 'irodspath'",
            ].join(' ')
        }
        queue    = 'small'
        cpus     = 1
        memory   = 70.MB
    }
}
